h1 {
  text-align: center;
  font-family: kanit;
  margin: 0%;
  margin-top: 20px;
  font-size: 50px;
  color: rgb(207, 207, 235);
}
.git {
  text-align: center;
  display: block;
}

.snow {
  color: white;
  font-size: 50px;
}
.cloud {
  color: white;
  font-size: 50px;
}
.suncloud {
  font-size: 50px;
}
.rain {
  font-size: 50px;
  color: blue;
}

h2 {
  text-align: center;
  font-size: 15px;
  opacity: 0.5;
}

footer {
  font-family: kanit;
  font-size: 24px;
  color: rgb(207, 207, 235);
  margin-top: 5px;
  word-spacing: 10px;
}

.form {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  margin-top: 20px;
  color: rgb(207, 207, 235);
  font-size: 20px;
}
.container {
  border: 30px;
  border-radius: 50px;
  padding: 50px;
  padding-top: 5px;
  background: radial-gradient(
    circle at 48.7% 44.3%,
    rgb(30, 144, 231) 0%,
    rgb(56, 113, 209) 22.9%,
    rgb(39, 67, 192) 76.7%,
    rgb(40, 29, 196) 100.2%
  );
  max-width: 900px;
}
