body {
  font-family: kanit;
  margin-bottom: 0%;
}

h1 {
  color: rgb(55, 138, 247);
  font-size: 27px;
  font-weight: 550;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0%;
  padding: 0%;

  color: rgb(136, 176, 230);
  font-size: 19px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 450px;
  margin: 20px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #61a1f3;
  border-radius: 20px;
}

.overview {
  margin-bottom: 0px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 70px;
}

.weather-temperature strong {
  color: rgb(72, 145, 240);
  font-size: 50px;
  line-height: 1;
  font-weight: 300;
}

.weather-temperature .units {
  position: relative;
  font-size: 10px;
  color: #61a1f3;
}

.weather-temperature .active {
  color: rgb(97, 154, 230);
  cursor: pointer;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: rgb(79, 139, 218);
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 20px;
}
.git {
  font-size: 20px;
  color: rgb(73, 145, 240);
  text-decoration: underline;
}
